@charset "utf-8";

body {
    font-size: 13px;
    *font-size: small;
    *font: x-small;
}

table {
    font-size: inherit;
    font: 100%;
}

select,
input,
textarea {
    font-size: 99%;
}

/* --------------------------------------------------------------------------
   Universal selector
-------------------------------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
    line-height: 1.6;
    color: #222;
    font-size: 100%;
}

/* --------------------------------------------------------------------------
   Structure Module
-------------------------------------------------------------------------- */

body {
    background-color: #fff;
    font-family: 'Lucida Grande', sans-serif;
}

/* --------------------------------------------------------------------------
   Text Module
-------------------------------------------------------------------------- */

p,
pre,
address,
cite {
    margin: 0.5em, 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5em, 20px;
}

h1 {
    font-size: 189%;
}

h2 {
    font-size: 159%;
}

h3 {
    font-size: 144%;
}

h4 {
    font-size: 122%;
}

h5 {
    font-size: 107%;
}

h6 {
    font-size: 107%;
}

/* --------------------------------------------------------------------------
   Hypertext Module
    - http://www.colourlovers.com/palette/194023/Argentium
    * http://www.colourlovers.com/palette/194125/Mr._Green...
-------------------------------------------------------------------------- */

a:link {
    color: #333;
}

a:visited {
    color: #444;
}

a:hover {
    text-decoration: none;
}

/* --------------------------------------------------------------------------
   List Module
-------------------------------------------------------------------------- */

ul,
ol,
dl {
    margin: 1em 20px;
    padding: 1px 10px;
    list-style-position: inside;
}

li,
dt,
dd {
    font-size: 100%;
}

dt {
}

dd {
    color: #666;
}

li li,
li p,
li pre,
li dt,
li dd,
dd li,
dd p,
dd pre,
dd dt,
dd dd {
    font-size: 100%;
}

li ul,
li ol,
li dl,
li p,
dd ul,
dd ol,
dd dl,
dd p {
    margin: 0 10px;
}

/* --------------------------------------------------------------------------
   Form Module
-------------------------------------------------------------------------- */

form {
    margin: 0.5em, 20px;
    padding: 1px 0;
}

form dl,
form p {
    margin: 0.5em, 10px;
}

fieldset {
    border: 1px solid #ddd;
}

legend {
    margin: 0 1em;
    padding: 0 10px;
}

/* --------------------------------------------------------------------------
   Tables Module
-------------------------------------------------------------------------- */

table {
    margin: 0 20px 0.5em 20px;
}

th,
td {
    padding: 0 10px;
}

th {
    color: #fff;
    background-color: #999;
}

td {
    background-color: #fff;
}

/* --------------------------------------------------------------------------
   Image Module
-------------------------------------------------------------------------- */

a img {}
a:hover img {}

/* --------------------------------------------------------------------------
   ERROR MESSAGE
-------------------------------------------------------------------------- */

.error { color: #f00; }

